        <link rel="stylesheet" href="/css/users.css">
        <h1 id="page-header">
            Hey - Profile Page...
        </h1>

        <p>
            <b><%= user.name%></b>
        </p>
        <p>
            <b><%= user.email%></b>
        </p>